<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>

<div>
<ul>
  <li>App name: {{ app.app_name}}</li>
  <li>Api key: {{ app.app_apikey }}</li>
</ul>
</div>

<div>
{% for report in reports %}
<ul>
    <li>{{ report.base_rate }}</li>
     <li>{{ report.message }}</li>
    <li>{{ report.uudid}}</li>
  <li>{{ report.windows_id}}</li>
    <li>{{ report.created_date }}</li>
     <img src="http://127.0.0.1:8000/media/{{report.image_name}}.png">


</ul>
{% endfor %}
</div>


</body>
</html>