<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>

<div>
<ul>
  <li>App name: {{ app.app_name}}</li>
  <li>Api key: {{ app.app_apikey }}</li>
</ul>
</div>


<table>
    <tr>
    <th>Название контроллера </th>
    <th> Средняя оценка</th>
   </tr>
{% for key, value in reportsWithAverageRate.iteritems %}
   <tr>
        <th> {{ key }} </th>
        <td style='text-align:center;vertical-align:middle' > {{ value.averageRate}} ({{ value.rateCount }}) </td>
   </tr>
{% endfor %}
</table>


</body>
</html>



<div>
{% for report in reports %}
<ul>
    <li>{{ report.base_rate }}</li>
     <li>{{ report.message }}</li>
    <li>{{ report.uudid}}</li>
  <li>{{ report.windows_id}}</li>
    <li>{{ report.created_date }}</li>
     <img src="http://superapi.pythonanywhere.com/media/{{report.image_name}}.png">


</ul>
{% endfor %}
</div>

